extends layout

block contents
	#page-content
		.container
			// jQueryUI Spinner
			script(type='text/javascript', src='/stylesheets/widgets/spinner/spinner.js')
			script(type='text/javascript').
				/* jQuery UI Spinner */
				$(function() { "use strict";
				$(".spinner-input").spinner();
				});
			// jQueryUI Autocomplete
			script(type='text/javascript', src='/stylesheets/widgets/autocomplete/autocomplete.js')
			script(type='text/javascript', src='/stylesheets/widgets/autocomplete/menu.js')
			script(type='text/javascript', src='/stylesheets/widgets/autocomplete/autocomplete-demo.js')
			// Touchspin
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/touchspin/touchspin.css">
			script(type='text/javascript', src='/stylesheets/widgets/touchspin/touchspin.js')
			script(type='text/javascript', src='/stylesheets/widgets/touchspin/touchspin-demo.js')
			// Input switch
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/input-switch/inputswitch.css">
			script(type='text/javascript', src='/stylesheets/widgets/input-switch/inputswitch.js')
			script(type='text/javascript').
				/* Input switch */
				$(function() { "use strict";
				$('.input-switch').bootstrapSwitch();
				});
			// Textarea
			script(type='text/javascript', src='/stylesheets/widgets/textarea/textarea.js')
			script(type='text/javascript').
				/* Textarea autoresize */
				$(function() { "use strict";
				$('.textarea-autosize').autosize();
				});
			// Multi select
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/multi-select/multiselect.css">
			script(type='text/javascript', src='/stylesheets/widgets/multi-select/multiselect.js')
			script(type='text/javascript').
				/* Multiselect inputs */
				$(function() { "use strict";
				$(".multi-select").multiSelect();
				$(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
				});
			// Uniform
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/uniform/uniform.css">
			script(type='text/javascript', src='/stylesheets/widgets/uniform/uniform.js')
			script(type='text/javascript', src='/stylesheets/widgets/uniform/uniform-demo.js')
			// Chosen
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/chosen/chosen.css">
			script(type='text/javascript', src='/stylesheets/widgets/chosen/chosen.js')
			script(type='text/javascript', src='/stylesheets/widgets/chosen/chosen-demo.js')
			// DatePicker
			link(rel='stylesheet', type='text/css', href='/stylesheets/widgets/datepicker/datepicker.css')
			link(rel='stylesheet', type='text/css', href='/stylesheets/widgets/datepicker-ui/datepicker.css')
			link(rel='stylesheet', type='text/css', href='/stylesheets/widgets/daterangepicker/daterangepicker.css')
			// TimePicker
			link(rel='stylesheet', type='text/css', href='/stylesheets/elements/timeline.css')
			link(rel='stylesheet', type='text/css', href='/stylesheets/widgets/timepicker/timepicker.css')
			#page-title
				h2 #{flash.title}
			.panel
				.panel-body
					.example-box-wrapper
						- if (flash && flash.successmsg && flash.successmsg.length > 0)
							p.alert.alert-success= flash.successmsg
						- if (flash && flash.errormsg && flash.errormsg.length > 0)
							p.alert.alert-danger= flash.errormsg
						form.form-horizontal(action='', method='post', enctype='multipart/form-data')
							- if (dj)
								.form-group
									label.col-sm-3.control-label.tooltips Dj Name
										span.tooltiptexts Dj Name
									.col-sm-6
										input.form-control(type='text', id='', placeholder='Enter Dj Name...', name="djname", value="#{dj.djname}", required)
								.form-group
									label.col-sm-3.control-label.tooltips Email
										span.tooltiptexts Email
									.col-sm-6
										input.form-control(type='email', id='', placeholder='Enter Email...', name="email", value="#{dj.email}", required)
								.form-group
									label.col-sm-3.control-label.tooltips About Dj
										span.tooltiptexts About Dj
									.col-sm-6
										textarea.form-control.textarea-autosize(name='aboutdj', rows='3', required) #{dj.aboutdj}
								.form-group
									label.col-sm-3.control-label.tooltips City
										span.tooltiptexts City
									.col-sm-6
										input.form-control(type='text', id='', placeholder='Entry City...', name="city", value="#{dj.city}", required)
								.form-group
									label.col-sm-3.control-label.tooltips State
										span.tooltiptexts State
									.col-sm-6
										input.form-control(type='text', id='', placeholder='Entry State...', name="state", value="#{dj.state}", required)
								.form-group
									label.col-sm-3.control-label.tooltips Genres
										span.tooltiptexts Genres
									.col-sm-6
										select.chosen-select(name='genres', multiple, data-placeholder='Select multiple Genres...', id='genres', required)
											- j = 0
											- each genres, i in genress
												- if ( genres._id == dj.genres[j])
													option(selected value='#{genres._id}') #{genres.genres}
												-else
													option(value='#{genres._id}') #{genres.genres}
												- j++
								.form-group
									label.col-sm-3.control-label.tooltips Profile Image
										span.tooltiptexts Profile Image
									.col-sm-6
										input.form-control(type='file', name="profileimage", required)
								.form-group
									label.col-sm-3.control-label.tooltips Cover Image
										span.tooltiptexts Cover Image
									.col-sm-6
										input.form-control(type='file', name="coverimage", required)
								input(type='hidden', name='profileimage', value='#{dj.profileimage}')
								input(type='hidden', name='coverimage', value='#{dj.coverimage}')
								.bg-default.text-center
									button.btn.btn-lg.btn-primary(type='submit') Save
							- else
								.form-group
									label.col-sm-3.control-label.tooltips Dj Name
										span.tooltiptexts Dj Name
									.col-sm-6
										input.form-control(type='text', id='', placeholder='Enter Dj Name...', name="djname", required)
								.form-group
									label.col-sm-3.control-label.tooltips Email
										span.tooltiptexts Email
									.col-sm-6
										input.form-control(type='email', id='', placeholder='Enter Email...', name="email", required)
								.form-group
									label.col-sm-3.control-label.tooltips About Dj
										span.tooltiptexts About Dj
									.col-sm-6
										textarea.form-control.textarea-autosize(name='aboutdj', rows='3', required) #{dj.aboutdj}
								.form-group
									label.col-sm-3.control-label.tooltips City
										span.tooltiptexts City
									.col-sm-6
										input.form-control(type='text', id='', placeholder='Entry City...', name="city", required)
								.form-group
									label.col-sm-3.control-label.tooltips State
										span.tooltiptexts State
									.col-sm-6
										input.form-control(type='text', id='', placeholder='Entry State...', name="state", required)
								.form-group
									label.col-sm-3.control-label.tooltips Genres
										span.tooltiptexts Genres
									.col-sm-6
										select.chosen-select(name='genres', multiple, data-placeholder='Select multiple Genres...', required)
											- each genres, i in genress
												option(value='#{genres._id}') #{genres.genres}
								.form-group
									label.col-sm-3.control-label.tooltips Profile Image
										span.tooltiptexts Profile Image
									.col-sm-6
										input.form-control(type='file', name="profileimage", required)
								.form-group
									label.col-sm-3.control-label.tooltips Cover Image
										span.tooltiptexts Cover Image
									.col-sm-6
										input.form-control(type='file', name="coverimage", required)
								.bg-default.text-center
									button.btn.btn-lg.btn-primary(type='submit') Save

	script(type='text/javascript', src='/stylesheets/bootstrap/js/bootstrap.js')
	script(type='text/javascript', src='/stylesheets/widgets/datepicker/datepicker.js')
	script(type='text/javascript').
		$(function() { "use strict";
		$('.bootstrap-datepicker').bsdatepicker({
		format: 'mm-dd-yyyy'
		});
		var myDate = new Date();
		var prettyDate =(myDate.getMonth()+1) + '-' + myDate.getDate() + '-' + myDate.getFullYear();
		$(".bootstrap-datepicker").val(prettyDate);
		});

	script(type='text/javascript', src='/stylesheets/widgets/datepicker-ui/datepicker.js')
	script(type='text/javascript', src='/stylesheets/widgets/daterangepicker/moment.js')
	script(type='text/javascript', src='/stylesheets/widgets/daterangepicker/daterangepicker.js')
	script(type='text/javascript', src='/stylesheets/widgets/daterangepicker/daterangepicker-demo.js')
	script(type='text/javascript', src='/stylesheets/widgets/datepicker-ui/datepicker-demo.js')

	script(type='text/javascript', src='/stylesheets/widgets/timepicker/timepicker.js')
	script(type='text/javascript').
		$(function() { "use strict";
		$('.timepicker-example').timepicker();
		});

