extends layout

block contents
	#page-content
		.container
			// Data tables
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/datatable/datatable.css">
			script(type='text/javascript', src='/stylesheets/widgets/datatable/datatable.js')
			script(type='text/javascript', src='/stylesheets/widgets/datatable/datatable-bootstrap.js')
			script(type='text/javascript', src='/stylesheets/widgets/datatable/datatable-responsive.js')
			script(type='text/javascript').
				/* Datatables responsive */
				function verified(id){
					$('#verify'+id).submit();
				}
				$(document).ready(function() {
				$('#datatable-responsive').DataTable( {
				responsive: true
				} );
				} );
				$(document).ready(function() {
				$('.dataTables_filter input').attr("placeholder", "Search...");
				});
			#page-title
				h2 #{flash.title}
				#theme-options.admin-options
					a.btn.btn-primary.theme-switcher.tooltip-button(href='javascript:void(0);', data-placement='left', title='Color schemes and layout options')
						i.glyph-icon.icon-linecons-cog.icon-spin
			.panel
				.panel-body
					.example-box-wrapper
						- if (flash && flash.successmsg && flash.successmsg.length > 0)
							p.alert.alert-success= flash.successmsg
						- if (flash && flash.errormsg && flash.errormsg.length > 0)
							p.alert.alert-danger= flash.errormsg
						- if (flash && flash.successdel && flash.successdel.length > 0)
							p.alert.alert-success= flash.successdel
						table#datatable-responsive.table.table-striped.table-bordered.responsive.no-wrap(cellspacing='0', width='100%')
							thead
								tr
									th S.No.
									th Event Name
									th Company Name
									th Manage Featured
							tbody
								- if (allevents && allevents.length > 0)
									- j = 1
									- each user, i in allevents
										tr
											td #{j}
											td #{user.eventname}
											td #{user.userid.companyname}
											- j++
											td
												form.form-horizontal(action='/manageFeaturedList/updfeaturedstatus/#{user._id}', method='post', id='verify#{j}')
													- if (user.featuredstatus == 'true')
														input#chkverify(type='checkbox', name='featuredstatus', checked value="true", onchange='verified(#{j})')
													- else
														input#chkverify(type='checkbox', name='featuredstatus', value="true", onchange='verified(#{j})')

		script(type='text/javascript', src='/stylesheets/bootstrap/js/bootstrap.js')
