extends layout

block contents
	#page-content
		.container
			// jQueryUI Spinner
			script(type='text/javascript', src='/stylesheets/widgets/spinner/spinner.js')
			script(type='text/javascript').
				/* jQuery UI Spinner */
				$(function() { "use strict";
				$(".spinner-input").spinner();
				});
			// jQueryUI Autocomplete
			script(type='text/javascript', src='/stylesheets/widgets/autocomplete/autocomplete.js')
			script(type='text/javascript', src='/stylesheets/widgets/autocomplete/menu.js')
			script(type='text/javascript', src='/stylesheets/widgets/autocomplete/autocomplete-demo.js')
			// Touchspin
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/touchspin/touchspin.css">
			script(type='text/javascript', src='/stylesheets/widgets/touchspin/touchspin.js')
			script(type='text/javascript', src='/stylesheets/widgets/touchspin/touchspin-demo.js')
			// Input switch
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/input-switch/inputswitch.css">
			script(type='text/javascript', src='/stylesheets/widgets/input-switch/inputswitch.js')
			script(type='text/javascript').
				/* Input switch */
				$(function() { "use strict";
				$('.input-switch').bootstrapSwitch();
				});
			// Textarea
			script(type='text/javascript', src='/stylesheets/widgets/textarea/textarea.js')
			script(type='text/javascript').
				/* Textarea autoresize */
				$(function() { "use strict";
				$('.textarea-autosize').autosize();
				});
			// Multi select
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/multi-select/multiselect.css">
			script(type='text/javascript', src='/stylesheets/widgets/multi-select/multiselect.js')
			script(type='text/javascript').
				/* Multiselect inputs */
				$(function() { "use strict";
				$(".multi-select").multiSelect();
				$(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
				});
			// Uniform
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/uniform/uniform.css">
			script(type='text/javascript', src='/stylesheets/widgets/uniform/uniform.js')
			script(type='text/javascript', src='/stylesheets/widgets/uniform/uniform-demo.js')
			// Chosen
			// <link rel="stylesheet" type="text/css" href="/stylesheets/widgets/chosen/chosen.css">
			script(type='text/javascript', src='/stylesheets/widgets/chosen/chosen.js')
			script(type='text/javascript', src='/stylesheets/widgets/chosen/chosen-demo.js')
			
			#page-title
				h2 Add Vendor
			.panel
				.panel-body
					.example-box-wrapper
						form.form-horizontal(action='', method='post')
							.form-group
								label.col-sm-3.control-label Agreement
								.col-sm-6
									select.form-control(name='agreement')
										option Select Agreement
										- if (allagreement && allagreement.length > 0)
											- each agreement, i in allagreement
												- if (agreement._id == user.agreement)
													option( selected value='#{agreement._id}') #{agreement.title}
												- else
													option(value='#{agreement._id}') #{agreement.title}
							.form-group
								label.col-sm-3.control-label Currency
								.col-sm-6
									select.form-control(name='currency', data-placeholder='Select Currency...', id='currency' required)
										option Select a Currency
										- if (currencies)
											- each currency, i in currencies
												- if (currency._id == user.currency)
													option( selected value='#{currency._id}') #{currency.currencytitle}
												- else
													option(value='#{currency._id}') #{currency.currencytitle}
							.bg-default.text-center
								button.btn.btn-lg.btn-primary(type='submit') SET

		script(type='text/javascript', src='/stylesheets/bootstrap/js/bootstrap.js')

